<template>
<div id="app">
<h2 class="page-header">Query A Specific Tuna Catch</h2><br/>
  <p>Select a catch ID:</p>
  
<select v-model="selected">
  <option disabled value="">Please select ID</option>
  <option v-for="row in rows" v-bind:value="row" :key="row.selected">
    {{ row.id }}
  </option>
</select>

<table id="firsttable" class="ui red table">
<thead>
    <tr>
      <th>ID</th>
      <th>Timestamp</th>
      <th>Holder</th>
      <th>Catch Location</th>
      <th>Vessel</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{selected.id}}</td>
      <td>{{selected.timestamp}}</td>
      <td>{{selected.holder}}</td>
      <td>{{selected.catchlocation}}</td>
      <td>{{selected.vessel}}</td>
    </tr>
  </tbody>
</table>
</div>





</template>

<script>
import { Script } from 'vm';



export default {
  props:{
    rows:Array
  },
  data() {
return {
  toggle: true,
  selected: '',
     
}
  }
}
</script>
