<template>
<div id="app">
    <h2 class="page-header">Query All Tuna Catches</h2>
    <button @click='toggle = !toggle'> QUERY </button>
  <p v-show='toggle'>



<table id="firstTable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Timestamp</th>
      <th>Holder</th>
      <th>Catch Location</th>
      <th>Vessel</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="row in rows" :key="row.selected">
      <td>{{row.id}}</td>
      <td>{{row.timestamp}}</td>
      <td>{{row.holder}}</td>
      <td>{{row.catchlocation}}</td>
      <td>{{row.vessel}}</td>
    </tr>
  </tbody>
</table>
</p>
</div>
</template>


<script>



export default {
    props: {
      rows:Array
    },
  data() {
return {
  toggle: false,
  selected: '',
    
}
  }
}
</script>

