<template>
    <div id="modal">
        <h4 class="page-header">ADD OR EDIT RECORD</h4>
        <div class="container">
            <table v-show="tuna.length">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>Timestamp</th>
                        <th>Holder</th>
                        <th>Catch Location</th>
                        <th>Vessel</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(fish,id) in tuna">
                        <td>{{fish.id}}</td>
                        <td>
                            {{fish.timestamp}}
                        </td>
                        <td>
                            {{fish.holder}}
                        </td>
                        <td>{{fish.catchlocation}}</td>
                        <td>{{fish.vessel}}</td>
                        <td>
                            <a href="#modal" @click="edit(id)" class="btn waves-effect waves-light yellow darken-2"><i class="material-icons">edit</i>
                            </a><br/><br/>
                            
                        </td>
                        <tr>
                            <td>
                                <div class="input-field">
                                    <input style="width:100%" placeholder="Enter ID" ref="id" v-model="input.id" id="id" type="text">

                                </div>
                            </td>
                            <td>
                                <div class="input-field">
                                    <input style="width:100%" placeholder="Enter timestamp" ref="timestamp" v-model="input.timestamp" type="text">
                                    
                                </div>
                            </td>
                            <td>
                                <div class="input-field">
                                    <input style="width:100%" placeholder="Enter Holder" ref="holder" v-model="input.holder" type="text">
                                   
                                </div>
                            </td>
                            <td>
                                <div class="input-field">
                                    <input style="width:100%" type="text" placeholder="Enter catch Location" ref="catchlocation" v-model="input.catchlocation">
                                   
                                </div>
                            </td>
                            <td>
                                <div class="input-field">
                                    <input style="width:100%" type="text" placeholder="Enter vessel" ref="vessel" v-model="input.vessel">
                                   
                                </div>
                            </td>
                            <td>
                                <a href="#!" @click="add" class="btn btn-waves green darken-2"><i class="material-icons">add</i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <hr/>
                <table class="highlight" v-show="bin.length">
                    <thead>
                        <tr>
                            <th v-for="column in columns">
                                {{column}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(fish,id) in bin">
                            <td>{{id+1}}</td>
                            <td>{{fish.timestamp}}</td>
                            <td>{{fish.holder}}</td>
                            <td>{{fish.catchlocation}}</td>
                            <td>{{fish.vessel}}</td>
                            <td>
                                
                                <a href="#!" @click="deplete(id)" class="btn waves-effect waves-light red darken-2"><i class="material-icons">delete</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>

                <hr/>

                <div id="modal" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4 class="center-align">Edit</h4>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input placeholder="1" id="id" type="text" v-model="editInput.id">
                                        <label for="id">ID</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input placeholder="1504057825" id="timestamp" type="text" v-model="editInput.timestamp">
                                        <label for="timestamp">Timestamp</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input placeholder="Miriam" id="holder" type="text" v-model="editInput.holder">
                                        <label for="holder">Holder</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input placeholder="91.2395, -49.4594" id="catchlocation" v-model="editInput.catchlocation" type="text">
                                        <label for="catchlocation">Catch Location</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input placeholder="234F" id="vessel" v-model="editInput.vessel" type="text">
                                        <label for="vessel">Vessel</label>
                                    </div>
                                </div>
         
                            </form>
                        </div>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
                            <a href="#!" @click="update" class="btn waves-effect waves-light"><i class="material-icons">edit</i></a>
                        </div>
                    </div>
                </div> 

</template>

<script>
import {Script} from 'vm'
export default{
    data(){
        return{
            editing: false,
            columns:['ID','Timestamp','Holder','Catch Location','Vessel'],
            bin:[],
            editInput:{
                
                timestamp:'',
                holder:'',
                catchlocation:'',
                vessel:''
            },
            input:{
               id:'',
                timestamp:'',
                holder:'',
                catchlocation:'',
                vessel:'',
            }
        }
    },
    props:{
        tuna:Array
    },
    methods:{
        add:function(){
            this.tuna.push({
                id:this.input.id,
                timestamp: this.input.timestamp,
                holder: this.input.holder,
                catchlocation: this.input.catchlocation,
                vessel: this.input.vessel,
            });
            for (var key in this.input)
            {
                this.input[key]='';
            }
            this.persons.sort(ordonner);
            this.$refs.id.focus();
        },
        //function to handle data editting
        edit: function(index){
            this.editInput = this.tuna[index];
            console.log(this.editInput);
            this.tuna.splice(index,1);
        },
        //archive
        archive: function(index){
            this.bin.push(this.bin[index]);
            this.bin.splice(index,1);
            this.bin.sort(ordonner);
        },
        update: function(index) {
            this.tuna.push({
              
                timestamp: this.editInput.timestamp,
                holder: this.editInput.holder,
                catchlocation: this.editInput.catchlocation,
                vessel: this.editInput.vessel
            });
            for(var key in editInput){
                this.editInput[key]='';
            }
            this.tuna.sort(ordonner);
        },
        deplete: function(index){
            this.bin.splice(index,1);
        }
    }
}
</script>
