<template>
  <div class="app1">
      <div>
      <h1 align="center">TUNA FISH</h1>
      <!--FOR QUERY ALL TUNA-->
      <h2 class="page-header">Query All Tuna</h2>
      <button @click="getTuna()">Query</button>
      <table id="table">
          <thead>
    <tr>
      <th>ID</th>
      <th>Timestamp</th>
      <th>Holder</th>
      <th>Catch Location</th>
      <th>Vessel</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="row in rows" :key="row.selected">
      <td>{{row.key}}</td>
      <td>{{row.Timestamp}}</td>
      <td>{{row.Holder}}</td>
      <td>{{row.Location}}</td>
      <td>{{row.Vessel}}</td>
    </tr>
  </tbody>
      </table>
      </div>

    <!--THIS IS TO QUERY PARTICULAR TUNA-->
    <div>
    <h2 class="page-header">Query Tuna</h2>"
    Enter tuna id: <input id="tuna_id" placeholder="Ex: 2" class="form-control" v-model="tuna_id" type="text">
    <br/>
    <input id="querySubmit" type="submit" value="Query" class="btn btn-primary" @click="queryTuna()"/>
    <br/>
    <table id="query_tuna" class="table" align="center">

        <tr>
          <th>Timestamp</th>
          <th>Holder</th>
          <th>Catch Location <br>(Longitude, Latitude)</th>
          <th>Vessel</th>
        </tr>

        <tr>
          <td>{{query_tuna.timestamp}}</td>
          <td>{{query_tuna.holder}}</td>
          <td>{{query_tuna.location}}</td>
          <td>{{query_tuna.vessel}}</td>
        </tr>
      </table>
    </div>

    <!--THIS IS FOR ADDING NEW TUNA-->
    <h2 class="page-header">Add new tuna entry</h2>
    <div class="form-group">
        <label>Create Tuna Record</label>
        <h5 id="success_create">ID: {{create_tuna}}</h5>
        <br>
        <!--EDIT-->
        Enter catch id: <input class="form-control" type="text" placeholder="Ex: 11" v-model="tuna.id">
        Enter name of vessel: <input class="form-control" type="text" placeholder="Ex: 0239L" v-model="tuna.vessel">
        Enter longitude: <input id="long" class="form-control" type="text" placeholder="Ex: 28.012" v-model="tuna.longitude"> 
        Enter latitude: <input id="lat" class="form-control" type="text" placeholder="Ex: 150.405" v-model="tuna.latitude">
        Enter timestamp: <input class="form-control" type="text" placeholder="Ex: 4982342301" v-model="tuna.timestamp">
        Enter name of holder: <input class="form-control" type="text" placeholder="Ex: Hansel" v-model="tuna.holder">
        <input id="createSubmit" type="submit" value="Create" class="btn btn-primary" @click="recordTuna()"> 
      </div>

    <!--THIS IS TO CHANGE TUNA HOLDER-->
    <h2 class="page-header">CHANGE TUNA</h2>
        <div class="form-group">
        <label>Change Tuna Holder</label><br>
        <h5 id="success_holder">ID: {{change_holder}}</h5>
        <h5 id="error_holder">Error: Please enter a valid Tuna Id</h5>
        Enter a catch id between 1 and 10: <input class="form-control" name="assetSelect" placeholder="Ex: 1" V-model="holder.id">
        Enter name of new holder: <input class="form-control" name="assetSelect" placeholder="Ex: Barry" V-model="holder.name">
        <input id="transferSubmit" type="submit" value="Change" class="btn btn-primary" @click="changeHolder()">
      </div>

  </div>
</template>

<script>
import axios from 'axios'
var rows = [];
var query_tuna=[];
var create_tuna = [];
var change_holder = [];
export default {
    name:'app1',
    methods:{
        getTuna:function(){
            var array = [];
            axios.get("http://localhost:8000/get_all_tuna").then((response)=>{
                for(var i=0;i<response.length;i++)
                {
                    parseInt(response[i].key);
                    response[i].Record.Key = parseInt(response[i].Key);
                    array.push(response[i].Record);
                }
                this.rows = array;
            });
        },
        queryTuna:function(){
         var id = document.getElementById(tuna_id).value;
         var url = "http://localhost:8000/get_tuna/"+id;
         axios.get(url).then((response)=>{
             this.query_tuna = response;
         });
        },
recordTuna:function(){
            var latitude = tuna.latitude;
            var longitude = tuna.longitude;
            var location = longitude + ", "+latitude;
            var tunadata = tuna.id+"-"+tuna.location+"-"+tuna.timestamp+"-"+tuna.holder+"-"+tuna.vessel;
            var url="http://localhost:8000/add_tuna/"+tunadata;
            axios.get(url).then((response)=>{
                create_tuna = response;
            });
        },
        changeHolder:function(){
            var query = holder.id + "-"+holder.name;
            var url = "http://localhost:8000/change_holder/"+query;
            axios.get(url).then((response)=>{
                change_holder = response;
            })
        }

    },
}
</script>

<style>

</style>


<!--
<template>

  <div id="app">
    <div id="head">
    <h1 align="center">TUNA FISH APPLICATION</h1></div><hr/>
   <!-- <queryalltuna :rows="tuna"/><hr/> -->
  <!-- <router-link :to="{ name: 'queryAll', params: {rows: `tuna` } }">more..</router-link>

   <querytuna :rows="tuna"/><hr/>
   <record :tuna="tuna"/><hr/> -->
   <!-- <router-link to="/queryAll">queryAll</router-link> -
   <h2 class="page-header">Query All Tuna Catches</h2>
    <button @click="getTuna()">Query Tuna</button>
    <p>
<table id="firstTable">
  <thead>
    <tr>
      <th>ID</th>
      <th>Timestamp</th>
      <th>Holder</th>
      <th>Catch Location</th>
      <th>Vessel</th>
    </tr>
  </thead>
  <tbody>
    <tr v-for="row in rows" :key="row.selected">
      <td>{{i++}}</td>
      <td>{{row.Timestamp}}</td>
      <td>{{row.Holder}}</td>
      <td>{{row.Location}}</td>
      <td>{{row.Vessel}}</td>
    </tr>
  </tbody>
</table>
</p>
<hr/>
<h2 class="page-header">Query tuna</h2>
    <input type="search" v-model="search" placeholder="Enter ID to search"/>
    <ul>
      <li v-for="row in rows">
        {{row.Timestamp}} 
        {{row.Holder}}
        {{row.Location}}
        {{row.Vessel}}
      </li>
    </ul>
  </div>
</template>

<script>
import queryalltuna from './components/queryalltuna.vue'
import querytuna from './components/querytuna.vue'
//import recordtuna from './components/recordtuna.vue'
import record from './components/record'
import axios from 'axios'

export default {
  name: 'app',
  components: {
    // queryalltuna,
    querytuna,
    // recordtuna,
    record
  },
  mounted(){
    //axios.get('https://api.coindesk.com/v1/bpi/currentprice.json').then(response => (this.info = response))
    //console.log(response)
    console.log("app.vue")
  },
  data(){
    return {
    rows: {
      i: '0',
      Vessel: '',
      Location: '',
      Timestamp: '',
      Holder: ''
    }
    }
    // return{
    //   tuna:[
    //     { id: 1, 
    //     timestamp: "1504054225", 
    //     holder: 'Miriam',
    //      catchlocation: '67.0006, -70.5476',
    //       vessel: '923F' },
    //   { id: 2, timestamp: "1504057825", holder: 'Dave', catchlocation: '91.2395, -49.4594', vessel: 'M83T'},
    //   { id: 3, timestamp: "1493517025", holder: 'Igor', catchlocation: '58.0148, 59.01391', vessel: 'T012'},
    //   { id: 4, timestamp: "1496105425", holder: 'Amalea', catchlocation: '-45.0945, 0.7949', vessel: 'P490' },
    //   { id: 5, timestamp: "1493512301", holder: 'Rafa', catchlocation: '-107.6043, 19.5003', vessel: 'S439' },
    //   { id: 6, timestamp: "1494117101", holder: 'Shen', catchlocation: '-155.2304, -158723', vessel: 'J205' },
    //   { id: 7, timestamp: "1496104301", holder: 'Leila', catchlocation: '103.8842, 22.1277', vessel: 'S22L'},
    //   { id: 8, timestamp: "148506691", holder: 'Yuan', catchlocation: '-132.3207, -34.0983', vessel: 'E189' },
    //   { id: 9, timestamp: "1485153091", holder: 'Carlo', catchlocation: '153.0054, 12.6429', vessel: '129R' },
    //   { id:10, timestamp: "1494117101", holder: 'Fatima', catchlocation: '51.9435, 8.2735', vessel: '49W4'}
    //   ]
    // }
  },
  methods:{
    querytuna: function(){
      axios.get("http://localhost:8000/get_all_tuna").then((response)=>{
        this.Vessel = response.Vessel;
        this.Location = response.Location;
        this.Timestamp = response.Timestamp;
        this.Holder = response.Holder;
      });
    }
  }

}
</script>

<style>
  #head {
    
    width:100%;
  height: fit-content;
    background-color:#C6D8FF;
  }
  a:link, a:visited {
    background-color: #C6D8FF;
    color: black;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
  }
  #app,#app2 {
    font-family:'Times New Roman', Times, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align:left;
    color: #2c3e50;
    
  }
  tr:hover {background-color:rgb(219, 243, 250);
  }
  th, td,tr {
    padding: 11px;
    text-align: center;
    
    height:12px;
  }
  th{
    background-color:#C6D8FF;
  }
  table, td, th {  
    border: 1px solid #ddd;
    text-align: center;
  }
  
  table {
    border-collapse: collapse;
    width:80%;
    font-size:15px;
  }
  select {
    width: 50%;
    padding: 12px 20px;
  }
  input[type=text] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
   button, input[type=submit] {
      background: #C6D8FF;
      border: 1px solid #8EB8E55;
      border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    }
    .small-container {
      max-width: 680px;
    }
</style>
-->